body {
  background-image: url("../../public/images/home-page-background.jpg"); /* Replace with the actual path to your image file */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.bottom-buttons {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* .center-images {
  display: flex;
  gap: 25px;
}
.img-jungledoodles {
  border-radius: 10%;
  width: 20vw;
  height: 20vh;
}

.img-truffledoodles {
  border-radius: 10%;
  width: 20vw;
  height: 20vh;
}

.img-snoozerdoodles {
  border-radius: 10%;
  width: 20vw;
  height: 20vh;
}

.img-wonderdoodles {
  border-radius: 10%;
  width: 20vw;
  height: 20vh;
}

.img-fitdoodles {
  border-radius: 10%;
  width: 20vw;
  height: 20vh;
}

.img-studydoodles {
  border-radius: 10%;
  width: 20vw;
  height: 20vh;
}

.center-text-box {
  display: flex;
  gap: 25px;
} */
