.wrapper {
  font-family: 'JetBrains Mono', monospace;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center; /* Align grid items in the center horizontally */
  align-items: center; /* Align grid items in the center vertically */
  gap: 20px; /* Add gap between grid items */
  padding-top: 150px;
  width: 100vw;
  height: auto;
}

.blog {
  font-family: 'JetBrains Mono', monospace;
    flex: 1 0 calc(33.33% - 10px); 
    margin: 20px; 
    width: 350px; 
    height: 250px; 
    gap:5px;



  }

  .fitimage {
    width: 100%; /* Ensure the image fills the entire width of the button */
    height: 50%; /* Ensure the image fills the entire height of the button */
    object-fit: cover; /* Fit the image inside the button while preserving its aspect ratio */
  }

  